$font-jua:'Jua', sans-serif;
@mixin flex-row {
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header {
    position:fixed; left:0; top:0; z-index:999;
    background:linear-gradient(0deg,rgba(255,255,2550.5),transparent);
    height:100px; 
    width:100%; padding:0 15px;;
    @include flex-row;
    h1 { width:150px;
        a {
            img{width:100%}
        }
    }
    .right {
        @include flex-row;
        padding:10px;
        .app {
            font-family: $font-jua;
            color:#fff;
            font-weight:700;
            border:2px solid #fff;
            border-radius: 20px;
            padding:15px 25px;
            margin:10px;
            
        }
        .all_nav {
            span {
                display:block;
                background:#fff;
                border-radius: 15px;
                width:30px;height:5px;
            }
            span:nth-child(1) {}
            span:nth-child(2) {margin:5px 0;}
            span:nth-child(3) {}
        }
    }
}//e:header
main {
    .visual {
        position:relative;
        height:100vh; overflow: hidden;
        .contents {
            color:#fff;
            position:relative;
            z-index: 200;
            padding-top:300px;
            text-align: center;
            h1 {
                font-family: $font-jua;
                line-height: 1.5;
                font-size:3rem; text-align: center;
                margin:0 auto;
                }
            p {text-align: center;line-height: 1.5;}
            a {background-color: #fff;
                display:inline-block;
                font-family: $font-jua;
                font-size:2rem;
                padding:20px 100px;
                border-radius: 50px;
                margin-top:20px;
                }
        }
        video {position:absolute; left:50%;top:50%; z-index: 100;;
            width:130%;
            transform: translate(-50%,-50%);
        }
        .page_down {
            position: absolute; z-index: 200;
            width: 100%;left: 0;bottom: 0; text-align: center;
        }
    }
    .visual::after{
        content:''; display:block; width:100%;height: 100%;
        background:linear-gradient(0deg, rgba(0,0,0,0.5), transparent);
        position: absolute; left: 0; top:0; z-index: 110;
    }
    .event_wrap {
        width:900px;
        margin:0 auto;
        h1 {
            font-family: $font-jua;
            font-size:2rem;
            line-height: 1.5;
            padding:100px 0 0 10px;
        }
        p {padding:10px 10px; font-size:0.750rem;}
        .more {font-family: $font-jua;padding:10px 10px;}
        .slide_wrap {
            padding-top:100px;
            .slide_container {
                display:grid;
                grid-template-columns:repeat(3,1fr);
                grid-template-rows: 320px;
                .slide1 {
                    background:#ffe552 url(../images/event_image_0_20221028085348_35465.png);
                    padding:20px;
                    h2 {font-family: $font-jua;
                        font-size:1.5rem;}
                    p {font-size:0.750rem;}
                    .more {
                        img {padding-top:50px;}
                    }
                }
                .slide2 {
                    background:#b2e9de url(../images/event_image_0_20221028085704_61822.png);
                    padding:20px;
                    h2 {font-family: $font-jua;
                        font-size:1.5rem;}
                    p {font-size:0.750rem;}
                    .more {
                        img {padding-top:50px;}
                    }
                }
                .slide3 {background:#ffcfd8 url(../images/event_image_3_20221105015010_49282.png);
                        padding:20px;
                    h2 {font-family: $font-jua;
                        font-size:1.5rem;
                    }
                    p {font-size:0.750rem;}
                    .more {
                        img {padding-top:50px;}
                        }
                    }
                .slide {
                    width:300px;height:250px; border-radius: 20px;
                    margin:10px;
                    background-repeat: no-repeat;
                    background-size: 70%;
                    background-position: right bottom;
                }
            }//e:slide_container
        }//e:slide_wrap
    }//e:event_wrap
}//e:main